@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

* {
  font-family: Poppins;
}

body {
  width: 600px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 24px;
  height: 80px;
}

.logo-image {
  width: 50px;
  height: 42px;
}

.main-title {
  width: 552px;
  height: 48px;
  flex-shrink: 0;
  margin: 20px 24px 0px 24px;

  font-size: 30px;
  font-style: normal;

  font-weight: 400;
  line-height: 36px; /* 120% */
}
