@font-face {
  font-family: FormularBold;
  src: url(fonts/formular-bold-trial.otf);
}
@font-face {
  font-family: FormularLite;
  src: url(fonts/formular-regular-trial.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FormularLite;
}
.wrapper {
  padding-left: 150px;
  padding-right: 120px;
}
header {
  background-color: #f9fafb;
  width: 100%;
  height: 150px;
  padding: 13px 0;
}

.logo {
  width: 40px;
}

.logo-flex {
  display: flex;
  width: 242px;
  height: 74px;
  justify-content: flex-start;
  align-items: center;
}

.logo-text {
  font-family: FormularBold;
  font-weight: 900;
  font-size: 19px;
  font-weight: 500;
}

.header-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: flex;
  width: 590px;
  justify-content: space-between;
}

.header-info-text {
  font-size: 13px;
  font-weight: 400;
  padding-top: 5px;
  font-family: sans-serif;
}

.header-info-text-block {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 50%;
  margin-right: 10px;
}

.phone-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.phone-number {
  font-size: 29px;
  font-family: FormularBold;
}

.phone-text {
  font-size: 18px;
  font-family: FormularLite;
}

nav {
  display: flex;
  width: 290px;
  font-size: 13px;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}

.request-button {
  background-color: #8b5cf6;
  font-family: FormularBold;
  color: #f9fafb;
  width: 160px;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

/* Container 1 */

.container-1 {
  display: flex;
  background-color: #e5e7eb;
  padding-top: 60px;
  height: 540px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.container-1-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.container-1-left-title {
  font-family: FormularBold;
  font-size: 29px;
  line-height: 30px;
}

#container-1-left-image {
  width: 588px;
  height: 277px;
}

.container-1-right {
  width: 49.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9fafb;
  border-radius: 16px;
  padding-top: 19px;
}

.container-1-right-title {
  font-family: FormularBold;
  text-align: center;
  font-size: 23px;
}
.container-1-right-description {
  margin-top: 10px;
  width: 278px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.container-1-right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'name-area name-area' 'mail phone' 'area weight' 'country city' 'deliveryplace deliverycity' 'submit submit';
  margin-top: 20px;
  width: 390px;
  gap: 22px;
}

.container-1-right-input {
  height: 34px;
  padding-left: 10px;
  border: 2px solid black;
  border-radius: 4px;
}

#container-1-right-name {
  grid-area: name-area;
}

#container-1-right-mail {
  grid-area: mail;
}

#container-1-right-phone {
  grid-area: phone;
}

#container-1-right-area {
  grid-area: area;
}

#container-1-right-weight {
  grid-area: weight;
}

#container-1-right-country {
  grid-area: country;
}

#container-1-right-city {
  grid-area: city;
}

#container-1-right-deliveryplace {
  grid-area: deliveryplace;
}

#container-1-right-deliverycity {
  grid-area: deliverycity;
}

#container-1-right-submit {
  grid-area: submit;
}

#container-1-right-submit {
  background-color: #8b5cf6;
  color: #f9fafb;
}

/* Container 2 */
.container-2 {
  background-color: #e5e7eb;
}

.container-2-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  font-size: 25px;
  font-family: FormularBold;
}

.container-2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5px;
  gap: 45px;
  row-gap: 60px;
  padding-top: 15px;
}

.container-2-grid-element {
  display: flex;
  justify-content: space-between;
  width: 333px;
}

.container-2-grid-element-image {
  width: 110px;
  height: 105px;
  padding-bottom: 10px;
}

.container-2-grid-element-right {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.container-2-grid-element-title {
  font-family: FormularBold;
  font-size: 19px;
}

.container-2-grid-element-description {
  font-size: 11px;
  margin-top: 10px;
}

/* Container 3 */

.container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  padding-bottom: 20px;
  background-color: #e5e7eb;
}

.container-3-title {
  font-family: FormularBold;
  font-size: 24px;
}

.container-3-description {
  width: 550px;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  line-height: 18px;
}

.container-3-documents {
  display: flex;
  margin-top: 15px;
}

.container-3-image {
  width: 290px;
}

.container-3-image-title {
  font-family: FormularBold;
  font-size: 15px;
  text-align: center;
  width: 300px;
  line-height: 23px;
}

.container-3-show {
  background-color: #8b5cf6;
  font-family: FormularBold;
  color: #f9fafb;
  border-radius: 12px;
  padding: 10px;
  width: 250px;
  margin-top: 22px;
}

/* Container 4 */
.container-4 {
  padding-top: 40px;
  background-color: #e5e7eb;
  padding-bottom: 20px;
}
.container-4-title {
  text-align: center;
  font-family: FormularBold;
  font-size: 25px;
}

.container-4-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.container-4-feedback {
  width: 40%;
  display: flex;
  background-color: #f9fafb;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  height: 258px;
  padding: 32px;
}

.container-4-feedback-text {
  font-family: FormularBold;
  font-size: 19px;
  line-height: 25px;
}

.container-4-toleft-image,
.container-4-toright-image {
  width: 50px;
  margin-bottom: 54px;
}
.container-4-toleft-image {
  margin-left: 25px;
}

.container-4-toright-image {
  margin-right: 25px;
}
