@font-face {
  font-family: FormularBold;
  src: url(fonts/formular-bold-trial.otf);
}
@font-face {
  font-family: FormularLite;
  src: url(fonts/formular-regular-trial.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FormularLite;
}
header {
  background-color: #f9fafb;
  width: 100%;
  height: 150px;
  padding: 13px 0;
  padding-left: 150px;
  padding-right: 120px;
}

.logo {
  width: 40px;
}

.logo-flex {
  display: flex;
  width: 242px;
  height: 74px;
  justify-content: flex-start;
  align-items: center;
}

.logo-text {
  font-family: FormularBold;
  font-weight: 900;
  font-size: 19px;
  font-weight: 500;
}

.header-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: flex;
  width: 590px;
  justify-content: space-between;
}

.header-info-text {
  font-size: 13px;
  font-weight: 400;
  padding-top: 5px;
  font-family: sans-serif;
}

.header-info-text-block {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 50%;
  margin-right: 10px;
}

.phone-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.phone-number {
  font-size: 29px;
  font-family: FormularBold;
}

.phone-text {
  font-size: 18px;
  font-family: FormularLite;
}

nav {
  display: flex;
  width: 290px;
  font-size: 13px;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}
