@font-face {
  font-family: FormularBold;
  src: url(fonts/formular-bold-trial.otf);
}
@font-face {
  font-family: FormularLite;
  src: url(fonts/formular-regular-trial.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FormularLite;
}
header {
  background-color: #f9fafb;
  width: 100%;
  height: 150px;
  padding: 13px 0;
  padding-left: 150px;
  padding-right: 120px;
}

.logo {
  width: 40px;
}

.logo-flex {
  display: flex;
  width: 242px;
  height: 74px;
  justify-content: flex-start;
  align-items: center;
}

.logo-text {
  font-family: FormularBold;
  font-weight: 900;
  font-size: 19px;
  font-weight: 500;
}

.header-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: flex;
  width: 590px;
  justify-content: space-between;
}

.header-info-text {
  font-size: 13px;
  font-weight: 400;
  padding-top: 5px;
  font-family: sans-serif;
}

.header-info-text-block {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 50%;
  margin-right: 10px;
}

.phone-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.phone-number {
  font-size: 29px;
  font-family: FormularBold;
}

.phone-text {
  font-size: 18px;
  font-family: FormularLite;
}

nav {
  display: flex;
  width: 290px;
  font-size: 13px;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}

.request-button {
  background-color: #8b5cf6;
  font-family: FormularBold;
  color: #f9fafb;
  width: 160px;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

/* Container 1 */

.container-1 {
  display: flex;
  padding-left: 150px;
  padding-right: 120px;
  background-color: #e5e7eb;
  padding-top: 60px;
  height: 515px;
}

.container-1-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.container-1-left-title {
  font-family: FormularBold;
  font-size: 29px;
  line-height: 30px;
}

#container-1-left-image {
  width: 588px;
  height: 277px;
}

.container-1-right {
  width: 50%;
}

.container-1-right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'name-area name-area' 'mail phone' 'area weight' 'country city' 'deliveryplace deliverycity' 'submit submit';
}

#container-1-right-name {
  grid-area: name-area;
}

#container-1-right-mail {
  grid-area: mail;
}

#container-1-right-phone {
  grid-area: phone;
}

#container-1-right-area {
  grid-area: area;
}

#container-1-right-weight {
  grid-area: weight;
}

#container-1-right-country {
  grid-area: country;
}

#container-1-right-city {
  grid-area: city;
}

#container-1-right-deliveryplace {
  grid-area: deliveryplace;
}

#container-1-right-deliverycity {
  grid-area: deliverycity;
}

#container-1-right-submit {
  grid-area: submit;
}
